.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr {
    margin-top: 30px;
}