*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(10 8 44) 26%, rgb(47 47 70) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

.to-do {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.to-do input {
    padding: 12px 20px;
    border-radius: 100px;
    border: none;
}

.to-do input:focus {
    outline: none;
}

.to-do h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
}

.to-do input#task-desc {
    width: 400px;
}

.to-do .search {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.to-do #errMsg {
    color: red;
}

.to-do .btns-cont {
    display: flex;
    gap: 8px;
}

.to-do button {
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.to-do button:hover {
    background-color: #007bffee;
}

.to-do button:active {
    transform: translateY(-1px);
}

.to-do .tasks-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.to-do .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.to-do .task::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #007bff;
    bottom: -10px;
    height: 2px;
}


